.row
	.span2.well.menu
		%h6.pull-right Menu administrateur
		%br/
		%br/
		- if current_user.admin
			%strong.pull-right= link_to 'Gestion utilisateurs', users_path
		%strong.pull-right= link_to 'Ajouter un clone', new_clone_path 
		%br/
		%br/
		.small.pull-right= link_to 'Se déconnecter', destroy_user_session_path, method: :delete