.row
	.span8.offset1{ style: 'margin-top: 15px' }
		Bienvenue sur l'application de gestion de tanks azote PX'Therapeutics.
		%br/
		%br/
		%strong= link_to 'Accéder aux racks', tiroirs_path
		(vous devez être connecté pour accéder à la page)